.checkIn{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .header{
    width: 100%;
    height: 248px;
    background: #98CA02;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h3{
      margin: 0;
      font-size: 20px;
      color: white;
      font-weight: 500;
      text-align: center;
    }
    p{
      margin: 0;
      font-weight: 500;
      margin-top: 6px;
      color: #555555;
    }
  }

  .check{
    width: 90%;
    max-width: 360px;
    padding: 26px 0;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 0px 11.7px 0px rgba(0, 0, 0, 0.25);
    position: relative;
    top: -80px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 18px;

    div{
      width: 90%;
      max-width: 360px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      h1{
        margin: 0;
        font-size: 40px;
        font-weight: 600;
        text-align: center;
      }
  
      p{
        margin: 0;
        text-transform: uppercase;
        color: red;
        font-weight: 600;
      }
    }

    button{
      width: 90%;
      max-width: 320px;
      height: 50px;
      flex-shrink: 0;
      border-radius: 500px;
      background: #98CA02;
      border: none;

      color: white;
      font-size: 20px;
      font-weight: 500;

      display: flex;
      justify-content: center;
      align-items: center;
      gap: 6px;
    }
  }
}